.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;
  //max-width: 696px;

  color: var(--tertiary-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  //font-size: 44px;
  //line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
