.team {
  background-color: var(--tertiary-bg-color);
}

.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}

.team__card {
  border-radius: 0 0 4px 4px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.team__thumb {
  height: 460px;

  @media screen and (min-width: $tablet) {
    height: 374px;
  }

  @media screen and (min-width: $desktop) {
    height: 260px;
  }
}

.team__text {
  padding-top: 30px;
  padding-bottom: 24px;

  text-align: center;

  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__position {
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}
