.work__list {
  display: flex;
  justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__name {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
